*.txt
*.jpg
*.zip
*.idea
**/__pycache__/
8vn_tuned_ncnn_model/
8vn_tuned_openvino_model/
full_data_v10M_openvino_model/
pt/
sql/
linha_11m_openvino_model/
__pycache__/utils.cpython-312.pyc
*test.py
.venv/
.vscode/
test/